@font-face {
    font-family: 'PositiveRiver';
    src: url('../PositiveForward.otf') format('opentype');


}


body {
    font-family: 'PositiveRiver' !important;
    font-style: normal;
    font-weight: normal;
    font-size: 4vw !important;

}

h2 {
    font-size: 6vw !important;
}

.btn {
    font-size: 3vw !important;
}



















.player-form {
    height: 50px;
}

#video-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    z-index: -1;
    object-fit: cover;
}

#high-score-wrap {
    width: 100px;
    background-color: aliceblue;
    text-align: center;
}

.options-screen {
display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    margin: 100px auto;
    background-color: rgba(255, 123, 0.5, 0.7);
    gap: 5px;
    text-align: center;
}

@media (min-width:48em) {

    body {

        font-size: 25px !important;

    }

    h2 {
        font-size: 45px !important;
    }

    .btn {
        font-size: 20px !important;
    }

    .options-screen {
        margin: auto;
        gap: 10px;



    }
    .alphabet-wrap {
        font-size: 2vw;
    }

}


.options-screen h2 {
    margin-top: 20px;
    /* margin-bottom: 50px; */
}

#options-win-lose {
    position: absolute;
margin-left: 25%;
margin-top: 125.5px;
    
}

.win-lose-text-wrap {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-bottom: 0;
    line-height: 23px;
}


.button-wrap {
    float: right;
    margin-top: 10px;
    margin-right: 10px;

}

#rules-wrap {
    margin-top: 10px;
    margin-right: 10px;
    float: right;
}


.dropdown {
    position: relative;
}

.dropdown-menu {
    max-height: 150px;
    overflow-y: auto;
}




.lives-wrap {
    width: 100px;

    float: left;
    background-color: aliceblue;
}

#lives-text {
    margin-left: 10px;
    margin-bottom: 0;

}

.hidden {
    display: none;
}



.score-wrap {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;

}


.guess-wrapper {


    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


.guesses-textarea {
    text-align: center;
    margin: 0 auto;
    font-size: 8vw;
    letter-spacing: 15px;
}

.modal-body {
    text-align: center;
}


.alphabet-wrap {
    font-size: 4vw;
    margin: 0 auto;
    text-align: center;
    margin-top: 8rem;
    width: 80%;
}

.hint-button {
    width: 90px;
    left: 10px;
    margin-top: 47.5px;

    position: absolute;
}

.score-animation-wrap {
    top: 25%;
    margin-left: 40%;
    position: absolute;
}






@media (min-width:90em) {}









/* referenced https://stackoverflow.com/questions/30125705/css-how-to-make-an-element-fade-in-and-then-fade-out */

.elementToFadeInAndOut {
    opacity: 0;
    animation: fade 1s linear;
}


@keyframes fade {

    0%,
    100% {
        opacity: 0
    }

    50% {
        opacity: 1
    }
}