/* --------------general------------- */
@font-face {
    font-family: 'PositiveRiver';
    src: url('../PositiveForward.otf') format('opentype');
}

body {
    font-family: 'PositiveRiver' !important;
    font-style: normal;
    font-weight: normal;
    font-size: 4vw !important;
}

@media (min-width:48em) {
    body {
        font-size: 25px !important;
    }
}
@media (min-width:90em) {
    body {
        font-size: 30px !important;
    }
}
h2 {
    font-size: 6vw !important;
}

@media (min-width:48em) {
    h2 {
        font-size: 45px !important;
    }
}

.hidden {
    display: none;
}

.btn {
    font-size: 3vw !important;
}

@media (min-width:48em) {
    .btn {
        font-size: 20px !important;
    }
}
@media (min-width:90em) {
    .btn {
        font-size: 40px !important;
    }
    
}
.modal-body {
    text-align: center;
}
.dropdown {
    position: relative;
}

.dropdown-menu {
    max-height: 150px;
    overflow-y: auto;
}

#video-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    z-index: -1;
    object-fit: cover;
}

/* -------splash screen--------- */
.player-form {
    height: 50px;
}

#high-score-wrap {
    width: 100px;
    background-color: aliceblue;
    text-align: center;
}

.options-screen {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    margin: 100px auto;
    background-color: rgba(255, 123, 0.5, 0.7);
    gap: 5px;
    text-align: center;
}


 @media (min-width:48em) {
    .options-screen {
        gap: 10px;
    }
}

.options-screen h2 {
    margin-top: 20px;
}


#rules-wrap-splash {
    margin-top: 10px;
    margin-right: 10px;
    float: right;
}

/* ----------------- game over screen ----------- */
#options-win-lose {
position: absolute;
margin-left: 25%;
margin-top: 127.85px;
}

.win-lose-text-wrap {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-bottom: 0;
    line-height: 23px;
}

.button-wrap-main {
    float: right;
    margin-top: 10px;
    margin-right: 10px;

}

.lives-wrap {
    width: 100px;
    float: left;
    background-color: aliceblue;
}

#lives-text {
    margin-left: 10px;
    margin-bottom: 0;

}

.score-wrap {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;

}
/* for the guess text */
.guess-wrapper {
    text-align: center;
    margin: 0 auto;
}

.guesses-textarea {
    text-align: center;
    margin: 0 auto;
    font-size: 8vw;
    letter-spacing: 15px;
}

/* on screen letters */
.alphabet-wrap {
    font-size: 4vw;
    margin: 0 auto;
    text-align: center;
    margin-top: 8rem;
    width: 80%;
}
@media (min-width:48em) {
    .alphabet-wrap {
        font-size: 2vw;
    }

}

.hint-button {
    width: 90px;
    left: 120px;
    margin-top: 10px;
    position: absolute;
}



/* animation for gaining/losing points */
.score-animation-wrap {
    top: 15%;
    margin-left: 40%;
    position: absolute;
}



/* referenced https://stackoverflow.com/questions/30125705/css-how-to-make-an-element-fade-in-and-then-fade-out */
.elementToFadeInAndOut {
    opacity: 0;
    animation: fade 1s linear;
}

@keyframes fade {
    0%,
    100% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
}